@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
}

@keyframes skeletion-pulse {
  0% {
    background-color: #e5e7eb;
  }
  50% {
    background-color: #d1d5db;
  }
  100% {
    background-color: #e5e7eb;
  }
}
.skeleton {
  animation: skeleton-pulse 1.5s infinite ease-in-out;
  border-radius: 8px; /* 둥근 모서리 */
}
